[user]
	name = reeve0930
	email = reeve0930@gmail.com
[alias]
    get = !ghq get
[ghq]
	root = ~/work/src
[merge]
	conflictStyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
